{{- /* Environment detection */ -}}
{{- $isMacOS := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isRemote := or (env "DEVPOD") (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "GITPOD_WORKSPACE_ID") $isLinux -}}

[data]
    isMacOS = {{ $isMacOS }}
    isLinux = {{ $isLinux }}
    isRemote = {{ $isRemote }}

    # Feature flags based on environment
    # Homebrew now manages CLI tools on macOS *and* remote Linux (Linuxbrew)
    hasHomebrew = true
    has1Password = {{ and $isMacOS (not $isRemote) }}
    hasGui = {{ and $isMacOS (not $isRemote) }}
    hasMise = true
